@charset "utf-8";
/* CSS Document */

body {
  background-color: #F8F9F9;
}


#title-bg {
  background-color: #F2C90C;
}

#title-div{
  font-family: 'Roboto Condensed', sans-serif;
  color: #fff;
  padding: 10px 15px;
}

#page-title {
  font-family: 'Roboto Condensed', sans-serif;
  color: #fff;
  font-size: 40px;
}

h1 {
  font-family: 'Roboto Condensed', sans-serif;
  color: #fff;
  text-decoration: underline;
}

h2 {
  font-family: 'Roboto', sans-serif;
  color: #fff;
}


p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.noMargin {
  margin: 0!important;
}

.noPadding {
  padding: 0!important;
}